#Django==2.2.6
Django==4.2.11
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
#django-crispy-forms==2.3
social-auth-app-django==5.4.0
#social-auth-app-django==5.4.2
social-auth-core==4.5.1
#social-auth-core==4.5.4
diff-match-patch==20241021
fontawesome-free==5.15.4 
coolname==2.2.0
#django-feather==0.2.6
django-feather==0.3.0
celery==5.3.6
celery-progress==0.4
redis==5.0.1
djangorestframework==3.14.0
pyyaml
requests
#django-cors-headers==4.6.0
django-cors-headers==3.11.0
djangorestframework-simplejwt==5.2.2
psycopg2==2.9.10


